<section id="popular">
  <!-- Blur Circle -->
  <div class="absolute inset-0 flex justify-center items-center pointer-events-none">
    <div class="w-[400px] h-[400px] rounded-full bg-gradient-to-br from-[#67bde4] via-[#da8cd7] to-[#bf43fd] opacity-30 blur-3xl"></div>
  </div>

  <h1 class="text-white text-3xl font-bold text-center mb-10">Popular This Week</h1>

 <div class="max-w-md mx-auto grid grid-cols-2 gap-4 md:max-w-none md:flex md:justify-center md:items-end md:flex-nowrap md:flex-wrap">


    <div class="bg-gradient-to-br from-[#67bde4] via-[#da8cd7] to-[#bf43fd] rounded-xl md:w-48 md:scale-90 hover:scale-100 transition-transform">
      <div class="  p-1 rounded-xl">
        <img src="./nft-images/gambar-nft-1.jpg" alt="NFT 1" class="rounded-t-xl w-full h-48 object-cover" />
        <div class="bg-gradient-to-br from-[#6d4acf] rounded-b-xl to-[#4d9de4] w-full p-2  text-white ">
          <p class="font-semibold">Cocotra</p>
          <p class="text-sm opacity-70">1.75 ETH · 39k</p>
        </div>
      </div>
    </div>

    <div class="bg-gradient-to-br from-[#67bde4] via-[#bf43fd] to-[#da8cd7] rounded-xl md:w-48 md:scale-90 hover:scale-100 transition-transform">
      <div class=" p-1 rounded-xl">
        <img src="./nft-images/gambar-nft-2.jpg" alt="NFT 2" class="rounded-t-xl w-full h-48 object-cover" />
        <div class="bg-gradient-to-br from-[#6d4acf] rounded-b-xl to-[#4d9de4] w-full p-2  text-white">
          <p class="font-semibold">VERSACE</p>
          <p class="text-sm opacity-70">2.45 ETH · 48k</p>
        </div>
      </div>
    </div>

    <!-- Center Card: Bigger -->
    <div class="bg-gradient-to-br from-[#bf43fd] via-[#67bde4] to-[#da8cd7] p-1 rounded-xl md:w-60 md:w-48 md:scale-90 md:scale-110 z-10 transition-transform">
      <div class=" p-1 rounded-xl">
        <img src="./nft-images/gambar-nft-3.jpg" alt="NFT 3" class="rounded-t-xl w-full h-48 object-cover" />
        <div class="bg-gradient-to-br from-[#6d4acf] rounded-b-xl to-[#4d9de4] w-full p-2  text-white">
          <p class="font-semibold text-lg">Digital Decade</p>
          <p class="text-sm opacity-70">2.45 ETH · 50k</p>
        </div>
      </div>
    </div>

    <div class="bg-gradient-to-br from-[#da8cd7] via-[#bf43fd] to-[#67bde4] p-1 rounded-xl md:w-48 md:scale-90 hover:scale-100 transition-transform">
      <div class=" p-1 rounded-xl">
        <img src="./nft-images/gambar-nft-4.jpg" alt="NFT 4" class="rounded-t-xl w-full h-48 object-cover" />
        <div class="bg-gradient-to-br from-[#6d4acf] rounded-b-xl to-[#4d9de4] w-full p-2  text-white">
          <p class="font-semibold">Winter Jamz</p>
          <p class="text-sm opacity-70">2.3 ETH · 47k</p>
        </div>
      </div>
    </div>

    <div class="bg-gradient-to-br from-[#67bde4] via-[#da8cd7] to-[#bf43fd] p-1 rounded-xl md:w-48 md:scale-90 hover:scale-100 transition-transform">
      <div class=" p-1 rounded-xl">
        <img src="./nft-images/gambar-nft-5.jpg" alt="NFT 5" class="rounded-t-xl w-full h-48 object-cover" />
        <div class="bg-gradient-to-br from-[#6d4acf] rounded-b-xl to-[#4d9de4] w-full p-2  text-white">
          <p class="font-semibold">Pastel Wifey</p>
          <p class="text-sm opacity-70">2.1 ETH · 41k</p>
        </div>
      </div>
    </div>

  </div>
</section>

